<div class="col-md-3">
    <div class="list-group">
        <li class="list-group-item list-group-header">
            <strong>Realization List</strong>
        </li>
        <%= link_to "Cost Summary", event_realizations_path(:event_id => @event.id), class: "list-group-item #{'active' if @production_type.blank? }" %>
        <% @production_types.each do |type| %>
            <%= link_to type.name, edit_event_realizations_path(:event_id => @event.id, :type => type.code), class: "list-group-item #{'active' if type.code == @production_type}" %>
        <% end %>
    </div>
</div>