$("#message-list").html('<%= escape_javascript(render("list", :messages => @messages)) %>');
if ($('#flash_notice').length > 0) $("#flash_notice").remove();
if ($("#main-content div.alert").hasClass('alert-danger')) $("#main-content div.alert").removeClass('alert-danger');
$("#main-content div.alert").addClass('alert-success');
$("#main-content div.alert").html("<p>Message was successfully deleted.</p>")
$(".modal").modal("hide");
$("#main-content div.alert").show();
