<div class="widget">
  <div class="widget-header">
    <h4>Admins</h4>
  </div>
  <div class="widget-cont">
    <div class="col-md-12 form-vertical no-margin">
      <div class="form-group">
        <label class="col-md-2 control-label" for="input18"> Select Admin</label>
        <div class="col-md-10">
          <select id="input18" class="select-admin col-md-12 full-width-fix" multiple size="5">
            <option selected>Admin 1 (admin2@example.com)</option>
            <option>Admin 2 (admin2@example.com)</option>
          </select>
        </div>
      </div>
    </div>
  </div> <!-- /.widget-content -->
</div> <!-- /.widget -->
