<div class="modal fade agenda" id="edit-agenda-<%= f.object.id %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= render partial: 'agenda_form',  locals: { f: f }%>
        </div>
    </div>
</div>