<div class="list-group">
    <li class="list-group-item list-group-header">
        <strong>Event Date</strong>
    </li>
    <% (@event.start_date..@event.end_date).each_with_index do | date, index| %>
     	<%= link_to date.to_date, edit_event_agendas_path(:event_id => @event.id, :agenda_date => date), class: "list-group-item #{"active" if date.to_date == @event_date.to_date}" %>
    <% end %>
</div>