<div class="modal fade programme" id="add-programme-<%= f.object.id %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= render partial: 'programme_form',  locals: { f: f, p: p }%>
        </div>
    </div>
</div>