<div class="modal fade agenda" id="edit-programme-<%= p.object.id %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= render partial: 'programme_form',  locals: { f: f, p: p }%>
        </div>
    </div>
</div>