<tr class="nested-fields">
    <td>
        <%= f.text_field :option, class: "form-control" %>
    </td>
    <td class="align-center">
        <span class="btn-group">
            <%= link_to_remove_association ('<i class="icon-trash" rel="tooltip"></i>').html_safe, f  %>
        </span>
    </td>
</tr>