<!-- Forgot Password Form -->
<div class="inner-box">
    <div class="content">
        <!-- Close Button -->
        <i class="icon-remove close hide-default"></i>

        <!-- Link as Toggle Button -->
        <a href="#" class="forgot-password-link">Forgot Password?</a>

        <!-- Forgot Password Formular -->
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'form-vertical forgot-password-form hide-default' }) do |f| %>
            <!-- Input Fields -->
            <div class="form-group">
                <!--<label for="email">Email:</label>-->
                <div class="input-icon">
                    <i class="icon-envelope"></i>
                    <%= f.email_field :email, class: "form-control", placeholder: "Enter email addres", autofocus: "autofocus", 'data-rule-required' => true, 'data-msg-required' => "Please enter your email!" %>
                </div>
            </div>
            <!-- /Input Fields -->

            <%= button_tag type: "submit", class: "submit btn btn-default btn-block", data: { :disable_with => "Please wait..." }  do %>
                Reset your Password
            <% end %>
        <% end %>
        <!-- /Forgot Password Formular -->

        <!-- Shows up if reset-button was clicked -->
        <div class="forgot-password-done hide-default">
            <i class="icon-ok success-icon"></i> <!-- Error-Alternative: <i class="icon-remove danger-icon"></i> -->
            <span>Great. We have sent you an email.</span>
        </div>
    </div> <!-- /.content -->
</div>
<!-- /Forgot Password Form -->