<div class="crumbs">
  <!--     
  <ul id="breadcrumbs" class="breadcrumb">
    <li>
      <i class="icon-home"></i>
      <a href="/">Dashboard</a>
    </li>
    <li class="current">
      <a href="#" title="">Event</a>
    </li>
  </ul> 
  -->
  <ul class="crumb-buttons">
    <li class="">
      <a href="#">
        <i class="icon-calendar"></i>
        <span><%= Time.now.to_date.strftime("%B %d, %Y") %></span>
      </a>
    </li>
  </ul>
</div>
