<div id="sidebar-content">
  <!--=== Navigation ===-->
  <ul id="nav">
    <li>
      <a href="javascript:void(0);">
        <i class="icon-desktop"></i>
        Events
        <!-- <span class="label label-info pull-right">6</span> -->
      </a>
      <ul class="sub-menu">
        <li>
          <%= link_to raw('<i class="icon-angle-right"></i> List Event'), events_path %>
        </li>
        <li>
          <%= link_to raw('<i class="icon-angle-right"></i> New Event'), new_event_path %>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);">
        <i class="icon-desktop"></i>
        Menu
        <!-- <span class="label label-info pull-right">6</span> -->
      </a>
      <ul class="sub-menu">
        <li>
          <a href="ui_general.html">
          <i class="icon-angle-right"></i>
          Menu 1
          </a>
        </li>
        <li>
          <a href="ui_buttons.html">
          <i class="icon-angle-right"></i>
          Menu 2
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div id="divider" class="resizeable"></div>
